@font-face{
	font-family: godofwar;
	src:url(font/godofwar.ttf);

}

@font-face{
	font-family: alarm;
	src:url(font/alarm.ttf);
}

@font-face{
	font-family: pixel;
	src:url(font/pixel.ttf);
}

